data/processed/STAIR-SFT_diverse.json filter=lfs diff=lfs merge=lfs -text
data/processed/R2D-R1.json filter=lfs diff=lfs merge=lfs -text
data/processed/STAIR-SFT.json filter=lfs diff=lfs merge=lfs -text
